<div class="page admin-courses-list-screen">
  <header>
    <h2>Все курсы организации</h2>
  </header>

  <section>
    <div class="g-empty-box" *ngIf="isEmpty">
      У вас еще не создано ни одного курса
    </div>

    <div class="admin-courses" *ngIf="!isEmpty">
      <div class="courses-group" *ngFor="let group of groups">
        <article class="g-course-tile" [attr.data-index]="group.id">
          <div class="row-image">
            <div class="no-image" *ngIf="!group.image">
              <i class="fa fa-folder"></i>
            </div>
            <div class="course-image" *ngIf="group.image">
              <img [src]="group.image" [alt]="group.title"/>
            </div>
          </div>
          <header>{{group.title}}</header>
          <footer>
          <span>
            {{group.courseNumber ? group.courseNumber + ' курсов' : 'Нет курсов'}}
          </span>
            <div class="actions">
              <a class="g-link blue" [routerLink]="['/coach/courses/groups', group.id]">обзор пакета</a>
            </div>
          </footer>
        </article>
        <div class="layout-1">
          <div class="row-image">
            <div class="course-image" *ngIf="group.image">
              <img [src]="group.image" alt=""/>
            </div>
          </div>
        </div>
        <div class="layout-2">
          <div class="row-image">
            <div class="course-image" *ngIf="group.image">
              <img [src]="group.image" alt=""/>
            </div>
          </div>
        </div>
      </div>

      <article class="coach-course-tile g-course-tile"
               *ngFor="let course of courses"
               [attr.data-index]="course.id"
               [course]="course">
      </article>
    </div>
  </section>

  <load-more [value]="courses.$pagination" (load)="loadMore($event)"></load-more>
</div>
